h1{
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-weight: normal;
}
p{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.5;
  word-spacing: 1px;
  font-weight: lighter;
  text-align: justify;
}

/* IDEA: main container */
.main-container{
display: flex;
width:100%;
}

/* IDEA: header : full screen intro*/
.full-img-intro{
  display:flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  padding: 0 80px;
}
.full-img-intro h1{
  font-size: 100px;
  color:rgb(230,230,230);
  font-weight: bolder;
}
.full-img-intro p{
  font-size:30px;
  color:white;
  padding: 0 10px;
}
