h1{
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-weight: normal;
}
p{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.5;
  word-spacing: 1px;
  font-weight: lighter;
  text-align: justify;
}

/* IDEA: main container */
.main-container{
  display: flex;
}

/* IDEA: header : full screen intro*/
.full-img-intro{
  display: flex;
  width:100%;
  background-repeat: no-repeat;
  background-size:cover;
}
.full-img-intro img{
  width:100%;
}
