.row-container-1{
  padding-top: 60px;
  display:flex;
}
.lc{
  width:18%;
  background-color: rgb(240,240,240);;
  order:1;
}
.rc{
  width:18%;
  background-color: rgb(240,240,240);;
  order: 3;
}
.lsb{
  width:18%;
  background-color: rgb(240,240,240);
  order: 1;
}
.rsb{
  width: 18%;
  background-color: rgb(240,240,240);
  order:3
}
.row-container-2{
  min-height: 100vh;
  display:flex;
}
.intro{
  width:64%;
  order:2;
  padding: 0px 30px;
}
.content{
  width:64%;
  order: 2;
  padding: 0px 30px;
  list-style-position: inside;
}

@media(max-width: 900px){
  .row-container-1,.row-container-2{
    flex-direction: column;
    width: 100%;
  }
  .lc, .rc{
    display: none;
  }
  .lsb,.rsb,.intro,.content{
    width: 100%;
    padding: 0 20px;
  }

}
